<style>
    .card {
        display: flex;
        background-color: #e4e4e4;
        color: black;
        padding: 20px;
        margin-bottom: 20px;
    }

    .box {
        width: 20%;
    }

    .click-message {
        width: 40%;
    }

    a {
        text-decoration: none;
    }
</style>
<a href="/detail?id=%LANGUAGE_ID%">
    <div class="card">
        <div class="box">%LANGUAGE_NAME%</div>
        <div class="box">%LANGUAGE_YEAR%</div>
        <div class="box">%LANGUAGE_USED_FOR%</div>
        <div class="click-message">click to learn more</div>
    </div>
</a>
