<style>
    .card {
        display: flex;
        background-color: #e4e4e4;
        color: black;
        padding: 20px;
        margin-bottom: 18px;
        transition: transform 0.4s, background-color 0.4s, border 0.3s;
    }

    .card:hover {
        transform: scaleX(1.02) scaleY(1.15);
        background-color: #eaeaea;
        border: 1.5px solid brown;
    }

    .box {
        width: 20%;
    }

    .click-message {
        width: 40%;
    }

    a {
        text-decoration: none;
    }
</style>
<a href="/detail?id=%LANGUAGE_ID%">
    <div class="card">
        <div class="box">%LANGUAGE_NAME%</div>
        <div class="box">%LANGUAGE_YEAR%</div>
        <div class="box">%LANGUAGE_USED_FOR%</div>
        <div class="click-message">click to learn more</div>
    </div>
</a>
